<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636775501231-0ofuvqnm0vl0fh0kv0iikm21bbt85342.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636775501231-0ofuvqnm0vl0fh0kv0iikm21bbt85342</string>
	<key>API_KEY</key>
	<string>AIzaSyBrr_WCuP-W1XHi53rIlWpRS5ZqrpFDjh0</string>
	<key>GCM_SENDER_ID</key>
	<string>636775501231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.booklub</string>
	<key>PROJECT_ID</key>
	<string>booklub-8e557</string>
	<key>STORAGE_BUCKET</key>
	<string>booklub-8e557.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636775501231:ios:cc7a7ac06f18f455f2f35a</string>
</dict>
</plist>